APP_NAME=docker-magento-learning
APP_DOMAIN=magento.docker
HTTPS_PORT=443

MAGENTO_BASE_URL=https://magento.docker/
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=change_me
MAGENTO_ADMIN_EMAIL=admin@example.test
MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=User

MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_MANAGEMENT_PORT=15672

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_INDEX_PREFIX=magento2

